<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aman.myapp1">

    <permission
        android:name="com.example.aman.mapapp1.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.aman.myapp1.maps.permission.MAPS_RECEIVE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for wifi service -->
    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIcTvsWf_N6Kb70B9lLrqx9O-0WZWfpDU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgpkdlHyCjPFUw-SV1BUCIJOgdAvnVUfI" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Feature1"
            android:label="@string/title_activity_feature1" />
        <activity
            android:name=".activity.Feature2"
            android:label="@string/title_activity_feature2" />
        <activity
            android:name=".activity.UserReg"
            android:label="@string/title_activity_user_reg" />
        <activity
            android:name=".activity.Feature3"
            android:label="@string/title_activity_feature3" />
        <activity
            android:name=".activity.ReferFriends"
            android:label="@string/title_activity_refer_friends" />
        <activity
            android:name=".activity.SeekBarActivity"
            android:label="@string/title_activity_seek_bar" />
        <activity
            android:name=".activity.Feature4"
            android:label="@string/title_activity_feature4" />
        <activity
            android:name=".activity.Rate_deal"
            android:label="@string/title_activity_rate_deal" />
        <activity
            android:name=".activity.Feature6"
            android:label="@string/title_activity_feature6" />
        <activity
            android:name=".activity.MaterialDesign1"
            android:label="@string/title_activity_material_design1" />
        <activity
            android:name=".activity.Movies_Detail"
            android:label="@string/title_activity_movies__detail" />
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".activity.GraphLine"
            android:label="@string/title_activity_graph_line" />
        <activity
            android:name=".activity.GraphExample"
            android:label="@string/title_activity_graph_example" />
        <activity
            android:name=".activity.AnimatedActivity"
            android:label="@string/title_activity_animated" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list" />
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".activity.CountDownTimerActivity"
            android:label="@string/title_activity_count_down_timer" />
        <activity
            android:name=".activity.PlacePickerActivity"
            android:label="@string/title_activity_place_picker" />
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".activity.SearchListActivity"
            android:label="@string/title_activity_search_list" />
        <activity
            android:name=".activity.TestActivity1"
            android:label="@string/title_activity_test_activity1" />
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_activity_item_list" />
        <activity
            android:name=".activity.SearchResultDetail"
            android:label="@string/title_activity_search_result_detail" />
        <activity
            android:name=".gif_image.GifMainActivity"
            android:label="@string/title_activity_search_result_detail" />
        <activity
            android:name=".activity.DealsCameraPreview"
            android:label="@string/title_activity_deals_camera_preview" />
        <activity
            android:name=".activity.Test3"
            android:label="@string/title_activity_test3" />
        <activity
            android:name=".activity.CenterLockActivity"
            android:label="@string/title_activity_test3" />
        <activity
            android:name=".activity.Test4"
            android:label="@string/title_activity_test4" />
        <activity
            android:name=".activity.Test5"
            android:label="@string/title_activity_test5" />
        <activity
            android:name=".activity.Test6"
            android:label="@string/title_activity_test6" />
        <activity
            android:name=".activity.Test7Activity"
            android:label="@string/title_activity_test7"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.Test7"
            android:label="@string/title_activity_test7" />
        <activity
            android:name=".activity.Test10"
            android:label="@string/title_activity_test10" />
        <activity
            android:name=".activity.CameraTest"
            android:label="@string/title_activity_camera_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraPhotoView"
            android:label="@string/title_activity_camera_photo_view" />
        <activity
            android:name=".activity.PlaceSearchListActivity"
            android:label="@string/title_activity_place_search_list" />
        <activity
            android:name=".game_test.GameMainActivity"
            android:label="@string/title_activity_game_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TestActionSend"
            android:label="@string/title_activity_test_action_send" />
        <activity
            android:name=".activity.Test15"
            android:label="@string/title_activity_test15" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" />
        <activity
            android:name=".activity.ViewPagerZoom"
            android:label="@string/title_activity_view_pager_zoom" />
        <activity
            android:name=".activity.CircularViewPagerActivity"
            android:label="@string/title_activity_circular_view_pager_activity" />
        <activity
            android:name=".demo.DemoMainActivity"
            android:label="@string/title_activity_game_main" />

        <service
            android:name=".service.AlarmIntentService"
            android:exported="false" />
        <service
            android:name=".service.TestIntentService"
            android:exported="false" />
        <service
            android:name=".service.NetworkIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyLocationIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyLocationService"
            android:exported="false" />

        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:process=":remote" />

        <activity android:name=".activity.GeoFenceActivity" />

        <service
            android:name=".service.GeofenceTransitionsIntentService"
            android:exported="false" />

        <activity
            android:name=".activity.WifiActivity"
            android:label="@string/title_activity_wifi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.WifiActivity1" />
        <activity android:name=".activity.ExpandableViewActivity" />
        <activity android:name=".ViewPagerTest"></activity>
    </application>

</manifest>